.venv/
__pycache__/
.pytest_cache/
.DS_Store

data/raw/*
data/processed/*
data/external/*
artifacts/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep

*.pyc
*.pyo
*.pyd
*.log
*.egg-info/
